## Printing

In [1]:
print("Hello World")

Hello World

In [3]:
print(6)

6

In [4]:
print(5.6)

5.6

In [7]:
print(False)

False

In [1]:
print("India","pakistan",'us')

India pakistan us

In [2]:
print("india",5,False)

india 5 False

In [3]:
print("india",5,False, sep='--')

india--5--False

In [7]:
print("india",5,False, sep=' / ')

india / 5 / False

In [4]:
print('nanda')
print("india",5,False)
print("india",5,False)

nanda
india 5 False
india 5 False

In [5]:
print('nanda',end=' ')
print("india",5,False,end=' ')
print("india",5,False,end=' ')

nanda india 5 False india 5 False

In [ ]:
print()
# file: SupportsWrite[str] | None = None, flush: Literal[False] = False) -> None

## Data Types

* Basic - integers, float, complex, boolean, string
* Container Types - List, Tuples, Sets , Dictionary
* User Defined - Class

In [20]:
# integer 
print(4)
print(1000000000000000000000000000000000000000000000000000)
print(1e308)
print(1e309)

4
1000000000000000000000000000000000000000000000000000
1e+308
inf

In [22]:
# float 
print(4.5)
print(1.7e308)

4.5
1.7e+308

In [23]:
# Boolean
print(True)
print(False)

True
False

In [24]:
print(4+5j)

(4+5j)

In [27]:
# Strings
print('india')
print("nanda")
print("""kishore""")
print('''reddy''')

india
nanda
kishore
reddy

In [28]:
# list
print([1,2,3,4])

[1, 2, 3, 4]

In [30]:
# tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [31]:
# sets 
print({4,5,6,7,7,8,8,})

{4, 5, 6, 7, 8}

In [32]:
# dictionary
print({'a':1, 'b':2, "c":3})

{'a': 1, 'b': 2, 'c': 3}

## Comments
* A piece of code not intrepretable by compiler

In [ ]:
# comment
# no multi line comment

## Variables
*

In [33]:
name = 'nanda'

In [34]:
print(name)

nanda

In [35]:
namek = nanda

NameError: name 'nanda' is not defined

# Dynamic Typing (in python) PHP
* other languages - static typing

In [37]:
name = 4
print(name)

4

## Dynamic Binding
* othe languages - static Bindings

In [38]:
name = 'Hello World'
print(name)

Hello World

In [39]:
# special syntax
a= 5; b=6; c= 7
print(a,b,c)

5 6 7

In [40]:
a,b,c = 4,5,6
print(a,b,c)

4 5 6

In [41]:
a = b = c = 6
print(a,b,c)

6 6 6

## Identifyers abd Keywords

* Python is a Case Sensitive Programming Language
* In programming, a keyword is a word that is reserved by a program because the word has a special meaning. keywords can be commands or parameters. 
* Every programming language has a set of keywords that cannot be used as variable names

In [46]:
# python has 33 keywords
import keyword
kwrds = keyword.kwlist
print(kwrds)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [47]:
len(kwrds)

36

## Identifiers
* A python identifier is a name used to identify a variable, function, class, module,or other object

### Rules for setting identifiers
* can only start with an alphabet or _
* Followwed by 0 or more letters, _ and digits
* Keywords cannot be used as an identifiers

In [49]:
name@ = 45

SyntaxError: invalid syntax (892180284.py, line 1)

## Static Software 
* one directional communication, either software is talking to you or you are interacting with it
* Example - clock, govt websites, college websites

## Dynamic Softwares
* Two way interaction
* Example - youtube, swiggy
* Take input from user and give output

## Input
* input is a string - which is universal format
* from string we can extract anything- numbers, lists, dictionaries,....

In [52]:
input()

'29'

In [53]:
input(prompt = 'enter ')

'nanda'

In [54]:
first_num = input("Enter the first number")
second_num = input("Enter the second number")

In [55]:
print(first_num)
print(second_num)

5
6\

In [56]:
print("Result = ", first_num+second_num)

Result =  56\

In [58]:
type(4)

int

In [59]:
type(4.5)

float

In [60]:
type('nanda')

str

In [61]:
type(6+5j)

complex

In [62]:
type([1,2,3])

list

## Type Conversion
* Happens only if possible
* implicit
* Explicit
* Type casting is permanent but not type conversion

In [65]:
# Implicit Conversion
4 + 5.5

9.5

In [66]:
5+ 6 + 7j

(11+7j)

In [67]:
4.5 + 5 + 5j

(9.5+5j)

In [68]:
# Explicit Conversion
# int
int(4.5)

4

In [69]:

int('45')

45

In [70]:
int('nanda')

ValueError: invalid literal for int() with base 10: 'nanda'

In [71]:
float(4)

4.0

In [72]:

str(3)

'3'

In [73]:
bool(5)

True

In [74]:
bool(3)

True

In [75]:
bool(0)

False

In [76]:
list('Nanda')

['N', 'a', 'n', 'd', 'a']

In [77]:
# Not Permanent
a = 4.5

In [78]:
int(a)

4

In [79]:
a

4.5

In [80]:
first_num = int(input("Enter the first number"))
second_num = int(input("Enter the second number"))
print("Result = ", first_num+second_num)

Result =  50

## Literals
* Literal is a raw data given in a variable. In python, there are various types of literals
* Numerical Literals
* String Literals
* Boolean Literals
* Special Literals

## Numerical Literals

In [86]:
# 1. Numerical Literals
a = 0b101 # Binary
b = 5 # Decimal
c = 0o5 # Octal Literal
d = 0x5 # Hexadecimal
print(a,b,c,d)

5 5 5 5

In [87]:
# Float
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-2
print(float_1,float_2,float_3)

10.5 150.0 0.015

In [88]:
# complex
x = 3+4j
print(x, x.imag,x.real)

(3+4j) 4.0 3.0

## String Literals

In [92]:
str1 = 'This is python'
str2 = "Nanda Kishore"
char = "C"
multiline_str = """---nanda.
this is multi line string---"""
unicode = u"\U0001f600\U0001f606\U0001f608"
raw_string = r"raw \n string"

print(str1)
print(str2)
print(char)
print(multiline_str)
print(unicode)
print(raw_string)

This is python
Nanda Kishore
C
---nanda.
this is multi line string---
😀😆😈
raw \n string

## Boolean Literal

In [93]:
a = True + 5
b = False + 10

print(a)
print(b)

6
10

## Special Literal

In [94]:
a = None
print(a)

None

## Operators
### Operators are used to perform operations on variables and values. Python has the following operators
* Arithmetic Operators
* Comparision Operators
* Logical operators
* Bitwise Operators
* Assignment operators
* Identity operators
* Membership operators

In [95]:
# Arithmetic operators
x = 5
y = 2

In [98]:
print(x + y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x ** y)
print(x//2)

7
3
10
2.5
1
25
2

In [100]:
# Comparision operators
print(x<y)
print(x<y)
print(x >= y)
print(x<=y)
print(x ==y)
print(x!=y)

False
False
True
False
False
True

In [102]:
# logical operators
x =  True
y = False

In [105]:
print(x or y)
print( x and y)
print(not x)

True
False
False

In [106]:
# Bitwise Operators - image operations
x = 2 # 10
y = 3 # 11

In [111]:
print(x & y)
print(x|y)
print(x >> 2)
print(y << 3)
print( ~x )

2
3
0
24
-3

In [123]:
# Assignment operators
a = 3
print(a)

3

In [124]:
a += 3
a

6

In [125]:
a -= 3
a

3

In [126]:
a *=  3
a

9

In [127]:
a /= 3
a

3.0

In [129]:
a = 3
a &= 3
a

3

In [130]:
# identity operators
a = 3
b =3

print( a is b)

True

In [131]:
a = 'hello'
b = 'hello'
print(a is b)

True

In [132]:
a = [1,2,3]
b = [1,2,3]
print(a is b)

False

In [140]:
a = 'hello-world'
b = 'hello-world'
print(a is b)
print(a is not b)

False
True

In [139]:
# Membership operators
# strings, lists, tuples,....
x = 'delhi'
print('d' in x)
print('d' not in x)

True
False