# Strings

In Python specifically, strings are a sequence of unicode characters
* Creating strings
* Accessing Strings
* Adding chars to strings
* Editing Strings
* Deleting Strings
* Operating on strings
* String functions

In [1]:
# creating strings
c = 'hello'
print(c)

hello

In [4]:
c = "It's raining outside"
print(c)

It's raining outside

In [5]:
c = '''this is for multiline strings.
This is second line'''

print(c)

this is for multiline strings.
This is second line

## Accessing strings
* indexing
* slicing

In [6]:
# indexing
c = 'hello'
print(c)

hello

In [9]:
print(c[0])
print(c[1])

h
e

In [8]:
c[1]

'e'

## Types of indexing
* Positive indexing
* Negative Indexing

In [10]:
c[-1]

'o'

In [11]:
c[-2]

'l'

In [14]:
# Slicing
c = 'hello world'
c[0:5]

'hello'

In [16]:
c[:4]

'hell'

In [17]:
c[2:]

'llo world'

In [18]:
c[2:9:2]

'lowr'

In [19]:
c[0::3]

'hlwl'

In [20]:
c[0:6:-1]

''

In [21]:
c[9:1:-1]

'lrow oll'

In [24]:
# reversing
c[::-1]

'dlrow olleh'

In [25]:
c[-1:-6:-1]

'dlrow'

## Editing and Deleting in strings
* Are immutable data types
* Can completely reassign the string
* But cannot change the parts of the string

In [26]:
c = 'hello'
print(c)

hello

In [27]:
c[0] = 'x'

TypeError: 'str' object does not support item assignment

In [33]:
c= 'world'
print(c)

world

In [34]:
c[5] = 'x'

TypeError: 'str' object does not support item assignment

In [35]:
# deleting string
del c

In [36]:
c

NameError: name 'c' is not defined

In [37]:
c= 'world'
print(c)

world

In [38]:
del c[0]

TypeError: 'str' object doesn't support item deletion

## Operations on strings
* Arithmetic Operations
* Relational operations
* Logical operations
* Loops on strings
* Membership operations

In [41]:
# arithmetic - ad strings or concatination
'hello'+ 'world'

'helloworld'

In [42]:
'hello'* 'world'

TypeError: can't multiply sequence by non-int of type 'str'

In [43]:
'hello'* 3

'hellohellohello'

In [45]:
'* '*12

'* * * * * * * * * * * * '

In [48]:
# relational operators
print('hello' == 'world')
print('hello' != 'world')

False
True

In [47]:
'hello' == 'hello'

True

In [50]:
# Lexiographically - based on first word, second word
'mumbai' > 'pune'

False

In [51]:
'goa' < 'kolkata'

True

In [53]:
# Capital letters comes first, then small letters
'goa' > 'Goa'

True

In [55]:
# Logical words
# '' --> False
# 'hello' --> True

'hello' and 'world'

'world'

In [56]:
'' and 'world'

''

In [57]:
'' or 'world'

'world'

In [58]:
'hello' or 'world'

'hello'

In [59]:
not 'hello'

False

In [60]:
not ''

True

In [61]:
# Loops on strings
for i in 'nanda':
    print(i)

n
a
n
d
a

In [63]:
# Membership
c = 'hello world'
'world' in c

True

In [64]:
'world' not in c

False

## String Functions

### Common Functions
* len
* max
* min
* sorted

### Only on strings
* Capitalize, title,....

In [69]:
c = 'kolkata'
len(c)

7

In [66]:
# based on ASCII
max(c)

't'

In [67]:
min(c)

'a'

In [71]:
sorted(c)

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [72]:
sorted(c, reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

1. Capilatize / Title / Upper / Lower / Swapcase

In [77]:
c = 'it is raining today'
c.capitalize()

'It is raining today'

In [82]:
c.title()

'It Is Raining Today'

In [80]:
d = c.upper()
d

'IT IS RAINING TODAY'

In [81]:
d.lower()

'it is raining today'

In [83]:
c.title().swapcase()

'iT iS rAINING tODAY'

### 2. count

In [84]:
'it is raining today'.count('i')

4

### 3. Find / index

In [87]:
# returns the first occurance index
'it is raining today'.find('i')

0

In [89]:
'it is raining today'.find('x') # not available

-1

In [90]:
'it is raining today'.index('i')

0

In [91]:
'it is raining today'.index('x')

ValueError: substring not found

### 4. endswith / startswith

In [93]:
'it is raining today'.endswith('day')

True

In [94]:
'it is raining today'.startswith('it')

True

### 5. format
* Fill in the blanks

In [97]:
'Hello my name {} and my age is {}'.format("nanda",26)

'Hello my name nanda and my age is 26'

In [98]:
'Hello my name {1} and my age is {0}'.format("nanda",26)

'Hello my name 26 and my age is nanda'

In [101]:
'Hello my name {name} and my age is {age}'.format(name = "nanda",age = 26)

'Hello my name nanda and my age is 26'

In [102]:
'Hello my name {name} and my weight is {weight}'.format(name = "nanda",age = 26,weight = 72)

'Hello my name nanda and my weight is 72'

### 6. isalnum / isalpha / isdecimal / isdigit / isidentifier
* asking question

In [103]:
'FLAT20'.isalnum()

True

In [104]:
'FLAT20&'.isalnum()

False

In [105]:
'FLAT'.isalpha()

True

In [106]:
'12'.isdigit()

True

In [107]:
'hello world'.isidentifier()

False

In [108]:
'hello_world'.isidentifier()

True

### 7. Split

In [109]:
'who is the pm of india'.split()

['who', 'is', 'the', 'pm', 'of', 'india']

In [110]:
'who is the pm of india'.split('pm')

['who is the ', ' of india']

In [111]:
'who is the pm of india'.split('i')

['who ', 's the pm of ', 'nd', 'a']

### 8. Join

In [113]:
'-'.join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who-is-the-pm-of-india'

In [114]:
' '.join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who is the pm of india'

### 9. Replace

In [115]:
'hi my name is nanda'.replace('nanda','kishore')

'hi my name is kishore'

### 10. Strip

In [118]:
'         nanda                            '.strip()

'nanda'

In [119]:
' reddy                        '.strip()

'reddy'