# Data Structures
## List
1. what is list
  ---List vs Array
2. create
3. Access
4. Edit
5. Add
6. Delete
7. Operations
8. Functions

1. Array
* Hogeneous 
* All elements are of same data type
* Stores element side by side
* Arrays are mush faster
2. List
* Heterogeneous - Can have different data types
* More programer friendly

In [1]:
l = []
type(l)

list

In [14]:
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [6]:
l2 = ['n', 1,2,3,'@']
l

['n', 1, 2, 3, '@']

In [52]:
# Multidimentional List
l3 = [1,2,3,[5,6,7]]
l3

[1, 2, 3, [5, 6, 7]]

In [9]:
# 3D List
l4 = [1,2,[3,4,[6,7]]]
l4

[1, 2, [3, 4, [6, 7]]]

In [10]:
# Using type conversion
l5 = list('Haldia')
l5

['H', 'a', 'l', 'd', 'i', 'a']

In [11]:
l6 = list()
l6

[]

In [21]:
l

[1, 2, 3, 4]

In [22]:
# Accessing
l2[2]

2

In [23]:
l[-1]

4

In [24]:
l3

[1, 2, 3, [5, 6, 7]]

In [28]:
# Multi dimentional list accesing
print(l3[3][1])

6

In [33]:
l4[-1][-1][0]

6

In [34]:
l

[1, 2, 3, 4]

In [36]:
l[0] = 100
l

[100, 2, 3, 4]

In [37]:
l[-1] = 500
l

[100, 2, 3, 500]

In [40]:
# Adding elements
l.append(1000)

In [41]:
l

[100, 2, 3, 500, 1000, 1000]

In [42]:
l.append('nanda')

In [43]:
l

[100, 2, 3, 500, 1000, 1000, 'nanda']

* Append will try to add one item
* Extend will try to convert that to list and concat it to last

In [44]:
l.extend([200,300,500])
l

[100, 2, 3, 500, 1000, 1000, 'nanda', 200, 300, 500]

In [45]:
l.append([5,9])
l

[100, 2, 3, 500, 1000, 1000, 'nanda', 200, 300, 500, [5, 9]]

In [46]:
l.extend('nanda')
l

[100,
 2,
 3,
 500,
 1000,
 1000,
 'nanda',
 200,
 300,
 500,
 [5, 9],
 'n',
 'a',
 'n',
 'd',
 'a']

* In insert, has to provide index, element

In [47]:
l.insert(1,'world')
l

[100,
 'world',
 2,
 3,
 500,
 1000,
 1000,
 'nanda',
 200,
 300,
 500,
 [5, 9],
 'n',
 'a',
 'n',
 'd',
 'a']

### Delete
* del - drops the complete list or the complete portion given after del keyword based on index keyword
* remove - deletes the element , no need to specify the index of if index is not known
* pop - deletes and returns the last element if index is not specified or indexed item is deleted if index is provided
* clear - like truncate in SQL, Clears all the elements from the list

In [48]:
del l4

In [49]:
l4

NameError: name 'l4' is not defined

In [50]:
l3

[1, 2, 3, [5, 6, 7]]

In [53]:
del l3[-1]
l3

[1, 2, 3]

In [55]:
l

[100,
 'world',
 2,
 3,
 500,
 1000,
 1000,
 'nanda',
 200,
 300,
 500,
 [5, 9],
 'n',
 'a',
 'n',
 'd',
 'a']

In [56]:
l.remove('world')
l

[100,
 2,
 3,
 500,
 1000,
 1000,
 'nanda',
 200,
 300,
 500,
 [5, 9],
 'n',
 'a',
 'n',
 'd',
 'a']

In [57]:
l.pop()

'a'

In [58]:
l.pop(1)

2

In [60]:
l2.clear()

In [61]:
l2

[]

### Operations

In [66]:
l = [1,2,3,]

In [67]:
l2 = [8,5,2,9,6]

In [68]:
# addition
l + l2

[1, 2, 3, 8, 5, 2, 9, 6]

In [70]:
# multiplication
l*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [71]:
# loop

for i in l:
    print(i)

1
2
3

In [72]:
4 in l

False

### Functions on Lists

In [73]:
len(l)

3

In [74]:
min(l)

1

In [75]:
max(l)

3

In [80]:
# not a permanent operation, only creates a new list
ll = sorted(l,reverse=True)
ll

[3, 2, 1]

In [82]:
# permanent sorting
ll.sort()
ll

[1, 2, 3]

In [83]:
# gives the position of the element inthe list
l.index(3)

2

* Exercise :- "hello how are are you" to 'Hello How Are Are You'
* Extract abc from 'abc@gmail.com'
* remove uplicates [1,2,1,1,2,2,2,3,3,3,4,4,4,] to [1,2,3,4]

In [84]:
"hello how are are you".title()

'Hello How Are Are You'

In [89]:
lst = "hello how are are you".split()
for i in lst:
    i = i.capitalize()

In [91]:
' '.join(lst)

'hello how are are you'

In [92]:
'abc@gmail.com'.split('@')[0]

'abc'

In [95]:
lst = [1,2,1,1,2,2,2,3,3,3,4,4,4,]

lst2 = list()

for i in lst:
    if i not in lst2:
        lst2.append(i)

lst2

[1, 2, 3, 4]

## Tuple
* Create
* Access
* Edit
* Add
* Delete
* Operations
* Functions

In [96]:
# create
tup = ()

In [97]:
tup

()

In [98]:
t1 = tuple()

In [99]:
t1

()

In [100]:
t2 = (1,2,3,4,5)
t2

(1, 2, 3, 4, 5)

In [101]:
t3 = ('hello', 4,5.6)
t3

('hello', 4, 5.6)

In [102]:
t4 = (1,2,3,(4,5))
t4

(1, 2, 3, (4, 5))

In [103]:
t5 = (4)

In [104]:
t5

4

* single tuple creates int , not container
* To create single item tuple, add element and add comma

In [105]:
type(t5)

int

In [106]:
t5 = 'n'
type(t5)

str

In [107]:
t5 = (4,)
type(t5)

tuple

In [108]:
t6 = tuple('nanda')
t6

('n', 'a', 'n', 'd', 'a')

In [111]:
l

[1, 2, 3]

In [110]:
t6 = tuple(l)
t6

(1, 2, 3)

In [114]:
# Access items from tuples
t3[1]

4

In [117]:
t4[-1][0]

4

In [118]:
# 'tuple' object does not support item assignment
# Tuples, just like strings deos not changed after created 

t4[-1][0] = 9

TypeError: 'tuple' object does not support item assignment

In [ ]:
# No adding
# No Editing

In [119]:
t2

(1, 2, 3, 4, 5)

In [120]:
t1

()

In [121]:
del t1

In [122]:
t1

NameError: name 't1' is not defined

In [127]:
t3

('hello', 4, 5.6)

In [128]:
del t3[1]

TypeError: 'tuple' object doesn't support item deletion

In [129]:
# Operations
t3

('hello', 4, 5.6)

In [130]:
t4

(1, 2, 3, (4, 5))

In [132]:
# CoNCATINATION
t3 + t4

('hello', 4, 5.6, 1, 2, 3, (4, 5))

In [135]:
for i in t3:
    print(i)

hello
4
5.6

In [136]:
t3 * 3

('hello', 4, 5.6, 'hello', 4, 5.6, 'hello', 4, 5.6)

In [137]:
4 in t3

True

In [138]:
# Functions
len(t4)

4

In [141]:
t2 = (1,3,5,7,9)

In [142]:
max(t2)

9

In [143]:
min(t2)

1

In [144]:
sum(t2)

25

In [146]:
sorted(t2,reverse=True)

[9, 7, 5, 3, 1]

* Tuples are read only data types
* Useful - where integrity is os importance

## Sets
1. sets do not allow duplicates
2. Sets have no indexing / Slicing
3. Sets don't allow mutable data types
4. Set itsels is a mutable data type

In [147]:
# create 
s1 = {}
type(s1)

dict

In [148]:
s1 = set()
type(s1)

set

In [149]:
# Homogeneous set
s1 = {1,2,3,4,5}
s1

{1, 2, 3, 4, 5}

In [151]:
s2 = {'hello', 4,5.6, True}
s2

{4, 5.6, True, 'hello'}

In [152]:
# 1. sets do not allow duplicates
s3 = {1,1,1,2,2,2,2,3,3,3}
s3

{1, 2, 3}

In [153]:
# 3. Sets don't allow mutable data types
s4 = {[1,2,3], 'nanda'}
s4

TypeError: unhashable type: 'list'

In [154]:
s4 = {(1,2,3), 'nanda'}
s4

{(1, 2, 3), 'nanda'}

In [155]:
# sets don't have indexing
# it follows hashing

In [156]:
s5 = {{1,2},3,4}
s5

TypeError: unhashable type: 'set'

In [157]:
# Accessing
# 2. Sets have no indexing / Slicing
s3[0]

TypeError: 'set' object is not subscriptable

In [158]:
# Edit items - No
l = [1,2,3]
id(l)

1827389302080

In [159]:
l[0] = 100
l

[100, 2, 3]

In [163]:
s1 = set(l)
s1

{2, 3, 100}

### Add items
* .add()

In [166]:
# Add items
s1.add(6)
s1

{2, 3, 6, 100}

### Drop elements
* del
* remove 
* pop

In [167]:
s1

{2, 3, 6, 100}

In [169]:
del s1

In [170]:
s1

NameError: name 's1' is not defined

In [172]:
del s2[0]

TypeError: 'set' object doesn't support item deletion

In [174]:
s2.remove(5.6)

In [175]:
s2

{4, True, 'hello'}

In [176]:
# Drops elements that are at last an dreturns
s2.pop()

True

### Set Operations

In [177]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

In [178]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [179]:
s1 * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [180]:
for i in  s1:
    print(i)

1
2
3
4
5

In [181]:
2 in s1

True

### Functions

In [182]:
len(s1)

5

In [183]:
max(s1)

5

In [184]:
min(s1)

1

In [185]:
sum(s1)

15

In [186]:
sorted(s1, reverse=True)

[5, 4, 3, 2, 1]

### Functions specific to sets

In [187]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [188]:
s1

{1, 2, 3, 4, 5}

In [189]:
s1.intersection(s2)

{3, 4, 5}

In [190]:
s1.difference(s2)

{1, 2}

In [191]:
s2.difference(s1)

{6, 7}

In [192]:
s1.symmetric_difference(s2)

{1, 2, 6, 7}

In [194]:
# disjoint - two sets with no common elements
s1.isdisjoint(s2)

False

In [195]:
s1.issubset(s2)

False

In [196]:
s1.issuperset(s2)

False

In [197]:
s2.clear()

In [198]:
s2

set()

## Dictionary
* Special Types - Key Value Pairs
1. Dictionary has no indexing
2. Dictionary is Mutable data Type
3. Keys are Immutable , values arre mutable
4. Keys should by unique

* Mutable - List / sets / Dictionary
* mmutable - Strings / tuples / int / float / Boolean / Complex

In [199]:
# Create
d1 = {}
type(d1)

dict

In [200]:
d1 = {"name" : 'nanda', 'gender' : 'male'}

In [201]:
# Keys are Immutable
d1 = {[1,2,3] : 'nanda'}

TypeError: unhashable type: 'list'

In [202]:
d1 = {(1,2,3):'nanda'}

In [204]:
# Keys should by unique
d2 = {"name":'nanda', 'name': 'rohit'}
d2

{'name': 'rohit'}

In [205]:
d3 = {'name':"nanda", 'college': 'hit', 'marks' : {"M1":56, "M2" : 85}}

In [207]:
# Accessing items from dictionary
d1 = {"name" : 'nanda', 'gender' : 'male'}
d1[0]

KeyError: 0

In [208]:
d1['name']

'nanda'

In [209]:
d1['gender']

'male'

In [211]:
# Accessing nested dictionary
d3['marks']['M1']

56

In [212]:
# Editing the values
d1['name'] = 'kishore'

In [213]:
d1['name']

'kishore'

In [214]:
d3['marks']['M1'] = 79

In [215]:
d3['marks']['M1']

79

In [216]:
d1.get('name')

'kishore'

In [218]:
d3.get('marks')['M1']

79

* .get() method is useful if we want to give default value if the key is not present

In [219]:
d1.get('college', 'iit')

'iit'

* Add new key value pairs

In [220]:
d1['age'] = 27

In [221]:
d1

{'name': 'kishore', 'gender': 'male', 'age': 27}

In [222]:
d3['marks']['M3'] = 94

In [223]:
d3

{'name': 'nanda', 'college': 'hit', 'marks': {'M1': 79, 'M2': 85, 'M3': 94}}

In [227]:
d2

{'name': 'rohit'}

In [228]:
del d2

In [229]:
d2

NameError: name 'd2' is not defined

In [230]:
del d3['marks']['M3']

In [231]:
d3['marks']['M3']

KeyError: 'M3'

In [232]:
d1

{'name': 'kishore', 'gender': 'male', 'age': 27}

In [234]:
d1.clear()

In [235]:
d1

{}

In [236]:
d1 = {'name': 'kishore', 'gender': 'male', 'age': 27}

In [237]:
d3

{'name': 'nanda', 'college': 'hit', 'marks': {'M1': 79, 'M2': 85}}

### Operations

In [238]:
d1 + d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [239]:
d1 * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [240]:
for i in d1:
    print(i)

name
gender
age

In [244]:
for i in d1:
    print(i, d1[i])

name kishore
gender male
age 27

In [242]:
for i in d1.values():
    print(i)

kishore
male
27

In [243]:
for i,j in d1.items():
    print(i,j)

name kishore
gender male
age 27

In [245]:
'kishore' in d1

False

In [246]:
'name' in d1

True

In [247]:
'kishore' in d1.values()

True

### Functions

In [248]:
len(d1)

3

In [249]:
min(d1)

'age'

In [250]:
max(d1)

'name'

In [251]:
sorted(d1)

['age', 'gender', 'name']

In [252]:
d1.keys()

dict_keys(['name', 'gender', 'age'])

In [253]:
d1.values()

dict_values(['kishore', 'male', 27])

In [254]:
d1.items()

dict_items([('name', 'kishore'), ('gender', 'male'), ('age', 27)])

In [257]:
d1.items()[0]

TypeError: 'dict_items' object is not subscriptable

In [258]:
d1.items()['name']

TypeError: 'dict_items' object is not subscriptable